*{
  margin:0;
  padding:0;
  border:0;
}

article#seminars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.seminar {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: grey;
  background-image: linear-gradient(rgb(204,204,204), rgb(215,215,215), rgb(220,220,220), rgb(215,215,215), rgb(204,204,204));
  border-style: groove;
  border-width: 3px;
  border-radius: 10px;
}

h3.date {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 10px;	
}

.speaker_website {
  font-style: italic;
}

.host_website {
  font-style: italic;
}

section.past_seminar {
  opacity: 0.60; 
}
